---
Checks: >
  -*,
  cppcoreguidelines-owning-memory,
  modernize-*,
  performance-*,
  bugprone-*,
  -modernize-use-trailing-return-type

HeaderFilterRegex: '/(packages|services)/.*\.hxx$'

FormatStyle: file
WarningsAsErrors: ''
